* {
  font-family: 'Open Sans';
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #FFFFFF;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
  background-color: transparent;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.header.bgw {
  background-color: #FFFFFF;
}

.header .header-wrapper {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.header .header-wrapper .burger {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header-wrapper .burger span {
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  width: 100%;
  height: 2px;
  background-color: #836040;
}

.header .header-wrapper .burger span:nth-child(2) {
  margin: 10px 0;
}

.header .header-wrapper .burger.active span {
  margin: 0;
  padding: 0;
  position: absolute;
  width: 50%;
}

.header .header-wrapper .burger.active span:first-child {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 5px;
}

.header .header-wrapper .burger.active span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  left: 5px;
}

.header .header-wrapper .burger.active span:last-child {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  right: 5px;
}

.header .header-wrapper nav.header-menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .header-wrapper nav.header-menu > ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header .header-wrapper nav.header-menu > ul > li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  padding: 0;
  font-weight: normal;
}

.header .header-wrapper nav.header-menu > ul > li:first-child {
  margin-left: 0;
}

.header .header-wrapper nav.header-menu > ul > li:last-child {
  margin-right: 0;
}

.header .header-wrapper nav.header-menu > ul > li.active {
  font-weight: bold;
}

.header .header-wrapper nav.header-menu > ul > li > a {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 10px;
  color: #836040;
  text-decoration: none;
  font-size: 20px;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 2px solid transparent;
}

.header .header-wrapper nav.header-menu > ul > li > a:hover {
  border-bottom: 2px solid #DABFC2;
}

.header .header-wrapper .header-socials {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  height: 100%;
}

.header .header-wrapper .header-socials-item {
  height: 24px;
  margin: 0 10px;
}

.header .header-wrapper .header-socials-item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.header .header-wrapper .header-socials-item > a picture {
  height: 100%;
}

.header .header-wrapper .header-socials-item > a picture > img {
  width: unset;
}

.header .header-wrapper .header-lang {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header .header-wrapper .header-lang > a {
  font-size: 16px;
  color: rgba(131, 96, 64, 0.5);
  text-transform: uppercase;
  text-decoration: none;
  margin: 5px;
}

.header .header-wrapper .header-lang > a.active {
  font-weight: bold;
  color: #836040;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.main__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  background-color: transparent;
  padding: 50px 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main__img {
  width: 485px;
  padding: 20px 40px 20px 20px;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.main__img img {
  -webkit-filter: drop-shadow(20px 20px 40px rgba(255, 189, 129, 0.4));
          filter: drop-shadow(20px 20px 40px rgba(255, 189, 129, 0.4));
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .info {
  font-family: 'Open Sans';
  color: #836040;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.main .info__name {
  font-family: 'Poiret One';
  font-size: 50px;
  line-height: 100%;
}

.main .info__discription {
  font-size: 18px;
  max-width: 400px;
  margin-bottom: 20px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: -moz-box;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  line-clamp: 4;
  box-orient: vertical;
}

.main .bnt-light__down {
  position: absolute;
  bottom: 5px;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
}

.main .bnt-light__down svg {
  width: 32px;
  position: relative;
}

.main .bnt-light__down svg path {
  position: absolute;
  -webkit-animation: path 1.5s ease-in-out infinite forwards;
          animation: path 1.5s ease-in-out infinite forwards;
}

.main .bnt-light__down svg circle {
  -webkit-animation: circle 1.5s ease-in-out infinite forwards;
          animation: circle 1.5s ease-in-out infinite forwards;
  position: absolute;
}

@-webkit-keyframes circle {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }

  33% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }

  66% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }

  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes circle {
  0% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }

  33% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }

  66% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }

  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@-webkit-keyframes path {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  33% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  49% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  66% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

@keyframes path {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  33% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  49% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }

  66% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}

.main .main-about {
  position: absolute;
  top: 0;
  -webkit-transform: translateX(150%);
      -ms-transform: translateX(150%);
          transform: translateX(150%);
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  height: auto;
  width: calc(100% + 12px);
  background-color: #FFFFFF;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
}

.main .main-about.shown {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  background-color: transparent;
}

.main .main-about__img {
  width: 485px;
  padding: 30px 30px 20px 20px;
  position: relative;
}

.main .main-about__img img {
  -webkit-filter: drop-shadow(20px 20px 40px rgba(255, 189, 129, 0.4));
          filter: drop-shadow(20px 20px 40px rgba(255, 189, 129, 0.4));
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.main .main-about__content {
  font-family: 'Open Sans';
  color: #836040;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 5px;
}

.main .main-about__text {
  font-size: 18px;
  max-width: 400px;
  margin-bottom: 20px;
}

.main .main-about__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .main-about .about-back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px 5px;
  width: 50px;
  height: 50px;
  margin: 0;
  margin-right: 5px;
}

.main .main-about .about-insta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer {
  background-color: #DABFC2;
  color: #836040;
  padding-bottom: 50px;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer-wrapper .footer-contacts {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  min-height: 170px;
  flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  align-items: center;
}

.footer-wrapper .footer-contacts .phone-mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-wrapper .footer-contacts .phone-mail a {
  color: #836040;
  text-decoration: none;
  font-family: 'Open Sans';
  font-size: 20px;
  position: relative;
  padding-left: 5px;
}

.footer-wrapper .footer-contacts .phone-mail a:first-child {
  margin-bottom: 5px;
}

.footer-wrapper .footer-contacts .phone-mail a:before {
  content: '';
  height: 100%;
  width: 32px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.footer-wrapper .footer-contacts .phone-mail a.phone:before {
  background-image: url("../img/phone.png");
}

.footer-wrapper .footer-contacts .phone-mail a.mail:before {
  background-image: url("../img/mail.png");
}

.footer-wrapper .footer-contacts .socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.footer-wrapper .footer-contacts .socials > .footer-socials-item > a {
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.footer-wrapper .footer-contacts .socials > .footer-socials-item > a > picture,
.footer-wrapper .footer-contacts .socials > .footer-socials-item > a > picture > img {
  width: 100%;
  height: 100%;
}

.footer-wrapper .footer-feedback {
  width: 40%;
  min-height: 250px;
}

.footer-wrapper .footer-feedback form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-wrapper .footer-feedback form > input {
  outline: none;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #836040;
  margin-bottom: 25px;
  width: 100%;
}

.footer-wrapper .footer-feedback form > input::-webkit-input-placeholder {
  color: #836040;
  font-family: 'Open Sans';
  font-size: 20px;
}

.footer-wrapper .footer-feedback form > input::-moz-placeholder {
  color: #836040;
  font-family: 'Open Sans';
  font-size: 20px;
}

.footer-wrapper .footer-feedback form > input:-ms-input-placeholder {
  color: #836040;
  font-family: 'Open Sans';
  font-size: 20px;
}

.footer-wrapper .footer-feedback form > input::-ms-input-placeholder {
  color: #836040;
  font-family: 'Open Sans';
  font-size: 20px;
}

.footer-wrapper .footer-feedback form > input,
.footer-wrapper .footer-feedback form > input::placeholder {
  color: #836040;
  font-family: 'Open Sans';
  font-size: 20px;
}

.footer-wrapper .footer-feedback form > p {
  width: 95%;
  font-family: Open Sans;
  font-weight: 300;
  font-size: 16px;
  line-height: 20px;
  text-align: justify;
}

.footer-wrapper .footer-menu {
  max-width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-wrapper .footer-menu span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-height: 85px;
  width: 1px;
  background-color: #836040;
}

.footer-wrapper .footer-menu > nav {
  margin: 10px 0;
}

.footer-wrapper .footer-menu > nav > ul {
  list-style: none;
  text-align: center;
}

.footer-wrapper .footer-menu > nav > ul > li {
  margin: 5px 0;
}

.footer-wrapper .footer-menu > nav > ul > li > a {
  color: #836040;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 20px;
  text-decoration: none;
}

.footer-wrapper .footer-menu > nav > ul > li.active > a {
  font-weight: 600;
}

.footer-wrapper .credits {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer-wrapper .credits a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: rgba(131, 96, 64, 0.5);
}

.footer-wrapper .credits a span {
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  color: rgba(255, 0, 0, 0.5);
}

.footer-wrapper .credits a:hover {
  color: #836040;
}

.footer-wrapper .credits a:hover span {
  color: red;
}

picture > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.btn-dark {
  background-color: transparent;
  border: 2px solid #836040;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #836040;
  font-family: 'Open Sans';
  font-size: 20px;
  line-height: 27px;
  padding: 10px 50px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.btn-dark > svg {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.btn-dark:hover {
  border: 2px solid #836040;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  background-color: #836040;
  color: #FFFFFF;
}

.btn-dark:hover > svg path {
  fill: #FFFFFF;
}

.btn-light {
  background-color: transparent;
  border: 2px solid #DABFC2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  color: #836040;
  font-family: 'Open Sans';
  font-size: 20px;
  line-height: 27px;
  padding: 10px 50px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.btn-light:hover {
  border: 2px solid #DABFC2;
  text-decoration: none;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
  background-color: #DABFC2;
  color: #FFFFFF;
}

.bg-square {
  position: relative;
}

.bg-square img {
  position: relative;
  z-index: 2;
}

.bg-square:after {
  content: '';
  position: absolute;
  width: 60%;
  height: 60%;
  background-color: #DABFC2;
  top: 0;
  right: 0;
  z-index: 1;
}

.title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title span {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: 1px;
  background-color: #836040;
}

.title h3 {
  font-family: Poiret One;
  font-size: 60px;
  padding: 0 10px;
}

.decor-big-square {
  position: absolute;
  z-index: -1;
  width: 40%;
  left: 0;
  top: 0;
}

.decor-big-square > img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.decor-triangle {
  position: absolute;
  z-index: -1;
  width: 15%;
  right: 0;
  top: 400px;
}

.decor-triangle > img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Light.woff") format("woff"), url("../fonts/OpenSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  font-display: swap;
  src: url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poiret One";
  font-display: swap;
  src: url("../fonts/PoiretOne-Regular.woff") format("woff"), url("../fonts/PoiretOne-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@media (min-width: 576px) {
  .header .header-wrapper .burger {
    display: none;
  }
}

@media (min-width: 1025px) {
  .main__wrapper {
    height: 100vh;
  }

  .main .main-about {
    height: 100vh;
  }
}

@media (max-width: 1900px) {
  .main__img {
    width: 350px;
  }

  .main .main-about__img {
    width: 350px;
  }
}

@media (max-width: 1024px) {
  .main .bnt-light__down {
    display: none;
  }
}

@media (max-width: 991px) {
  .main .main-about .about-insta {
    padding: 10px 20px;
    font-size: 18px;
  }

  .footer-wrapper .footer-contacts {
    width: 40%;
  }

  .footer-wrapper .footer-contacts .socials {
    margin: 0 auto;
  }

  .footer-wrapper .footer-feedback {
    width: 60%;
  }

  .footer-wrapper .footer-menu > nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .footer-wrapper .footer-menu > nav > ul > li {
    margin: 5px 5px;
  }
}

@media (max-width: 767px) {
  .main__img {
    width: 200px;
    padding: 20px 40px 20px 0;
  }

  .main .info {
    width: 300px;
    height: 200px;
  }

  .main .info__name {
    font-size: 30px;
  }

  .main .info__discription {
    font-size: 15px;
    max-width: 300px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
       text-overflow: ellipsis;
    display: -moz-box;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    box-orient: vertical;
  }

  .main .main-about__img {
    width: 200px;
    padding: 20px 40px 20px 0;
  }

  .main .main-about__content {
    width: 300px;
    height: 200px;
  }

  .main .main-about__text {
    font-size: 13px;
    max-width: 300px;
  }

  .footer-wrapper .footer-contacts {
    width: 100%;
  }

  .footer-wrapper .footer-feedback {
    width: 100%;
  }

  .title h3 {
    font-size: 50px;
  }

  .decor-triangle {
    top: 200px;
  }
}

@media (max-width: 575px) {
  .header .header-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 60px;
    overflow-y: hidden;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }

  .header .header-wrapper nav.header-menu {
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    margin-top: 60px;
  }

  .header .header-wrapper nav.header-menu > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header .header-wrapper nav.header-menu > ul > li {
    margin: 10px;
  }

  .header .header-wrapper nav.header-menu > ul > li:first-child {
    margin: 10px;
  }

  .header .header-wrapper nav.header-menu > ul > li:last-child {
    margin: 10px;
  }

  .header .header-wrapper .header-socials {
    margin-right: 0;
  }

  .header .header-wrapper .header-lang {
    margin-bottom: 10px;
  }

  .main__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .main__img {
    padding: 20px 0 20px 0;
    width: 300px;
    height: 300px;
  }

  .main__img img {
    -o-object-fit: cover;
       object-fit: cover;
  }

  .main .info {
    height: 50%;
  }

  .main .info__about {
    margin: 0 auto;
  }

  .main .main-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-top: 65px;
    padding-bottom: 10px;
  }

  .main .main-about__img {
    padding: 20px;
    width: 300px;
    height: 300px;
  }

  .main .main-about__img img {
    -o-object-fit: cover;
       object-fit: cover;
  }

  .main .main-about__content {
    height: 50%;
  }

  .main .main-about__btns {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }

  .decor-big-square {
    width: 50%;
  }

  .decor-triangle {
    top: 300px;
  }
}

.webp .footer-wrapper .footer-contacts .phone-mail a.phone:before { background-image: url(../img/phone.webp); }

.webp .footer-wrapper .footer-contacts .phone-mail a.mail:before { background-image: url(../img/mail.webp); }